// Set Text Color
@function set-text-colour($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Transform MixIn
@mixin transform($property) {
    --webkit-transform: $property;
    --ms-transform: $property;
    transform: $property;
}