@import 'variables';
@import 'functions';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $light-colour;
    color: $dark-colour;
    font-family: $font-stack;
    line-height: 1.5;
} 

header {
    background: $dark-colour;
    color: set-text-colour($dark-colour);
    padding: 1rem;

    h1 {
        text-align: center;
    }
}

.section {
    padding: 3rem;

    h3 {
        font-size: 2rem;
    }

    &-a {
        background: $primary-colour;
        color: set-text-colour($primary-colour);
    }

    &-b {
        background: $secondary-colour;
        color: set-text-colour($secondary-colour);
    }
}

%btn-shared {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.btn {
    &-light {
        @extend %btn-shared;
        background-color: $light-colour;
        color: set-text-colour($light-colour);

        &:hover {
            @include transform(rotate(20deg));
            background-color: darken($light-colour, 10%);
        }
    }

    &-dark {
        @extend %btn-shared;
        background-color: $dark-colour;
        color: set-text-colour($dark-colour);

        &:hover {
            @include transform(rotate(-20deg));
            background-color: lighten($dark-colour, 10%);
        }
    }
}